.header {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  padding: 42px;
}

.header h1 {
  width: 560px;
}

.section {
  display: flex;
  justify-content: center;
}

.textContainer {
  /* height: 400px; */
  width: 560px;
  border: 1px solid lightgray;
  /* overflow: auto; */
  line-height: 48px;
  font-size: 32px;
  padding: 42px;
  border-radius: 42px;
}

.previousPage, .nextPage {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.previousPage {
  left: calc(50% - 400px);
}

.nextPage {
  right: calc(50% - 400px);
}